body {
	background-color: #cba87a;
}
h1 {
	color: white;
	font-family: "Gill Sans";
	font-weight: normal;
	font-variant: small-caps;
	font-size: 35px;
	width: 700px;
	padding-top: 20px;
	padding-left: 50px;
	text-align: left;
}
h2 {
	color: white;
	font-family: "Gill Sans";
	font-weight: normal;
	font-variant: small-caps;
	font-size: 30px;
	width: 700px;
	padding-top: 20px;
	padding-left: 50px;
	text-align: left;
}
p {
	color: white;
	font-family: "Gill Sans", Courier, monospace;
	font-size: 17px;
	width: 700px;
	padding-top: 20px;
	padding-left: 600px;
	text-align: right;
}
